* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #c25d50;
  display: flex;
  color: white;
  height: 50px;
  align-items: center;
}

.nav-logo {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 15.6px;
  color: white;
  padding-left: 15px;
}

.nav-logo i {
  padding-right: 10px;
}

.nav-right {
  display: flex;
  margin-left: auto;
}

.nav-right p {
  padding: 0 10px 0 10px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  justify-content: space-around;
}

.nav-right i {
  padding-right: 5px;
}

.nav-right p:last-child {
  padding-right: 40px;
}

.search-section {
  display: block;
  background-color: blueviolet;
  background-image: url(/media/transport-vector.jpg);
  height: 400px;
}

.back-ground-search {
  background-color: #d2d4d5;
  opacity: 0.8;
  margin: 100px 25% 100px 25%;
  border-radius: 6px;
  height: 130px;
}

.key-word {
  display: flex;
  justify-content: start;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 15.6px;
  color: rgb(43, 43, 43);
  margin-left: 6%;
  padding-bottom: 10px;
  padding-top: 40px;
}

.search-title {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 15.6px;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 70px;
}

.search-box {
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 80%;
  background-color: white;
  height: 30px;
  cursor: text;
}

.search-box input[type="search"],
textarea {
  background-color: #fff;
  color: white;
}

.search-box button {
  background-color: #d45749;
  width: 70px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 15.6px;
  color: white;
  cursor: pointer;
}

.how-it-works {
  display: flex;
  justify-content: center;
}

.how-it-works button {
  background-color: #ced1d9;
  border-radius: 3px;
  bottom: 50px;
  position: relative;
}

.how-it-works div {
  font-weight: 600;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 15.6px;
  color: rgb(43, 43, 43);
  padding: 5px;
}

.steps {
  text-align: center;
  margin-top: 50px;
}

.steps-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.red-band {
  background-color: #e27f65;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 400px;
}

.grey {
  background-color: #98a4a6;
}

.blue {
  background-color: #509bd8;
}

footer {
  background-color: black;
}

.footer-nav {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 15.6px;
  background-color: black;
  cursor: pointer;
}

.footer-nav-left {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.footer-nav-left p {
  display: flex;
  margin-top: 30px;
}

.footer-nav-right {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}

.footer-nav-right p {
  display: flex;
  margin-top: 30px;
}

.footer-nav-icon {
  border: 2px solid white;
  border-radius: 50%;
  padding: 30px;
  display: flex;
  justify-content: center;
  color: white;
}

.footer-mid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  cursor: pointer;
}

.mid-title {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: white;
  line-height: 15.6px;
  padding-bottom: 40px;
  padding-top: 60px;
  cursor: pointer;
}

.mid-text {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 12px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: center;
}

.mid-text a {
  color: tomato;
}

.mid-input input {
  width: 60%;
  height: 30px;
}

.mid-input button {
  height: 32px;
  width: 15%;
  background-color: #444;
  color: white;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #1f1f1f;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}

.bottom-footer-icons {
  display: flex;
}

.bottom-footer-icons i {
  padding: 30px 15px;
}

.bottom-footer-text {
  display: flex;
  margin-left: auto;
  align-self: center;
  padding-right: 20px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 15.6px;
  color: white;
}


/* Business search page */

.search-result {
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

.b-search {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.b-search-title {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 0;
}

.b-search-title p {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 15.6px;
  color: rgb(43, 43, 43);
}

.b-search-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 100px;
}

.b-search-boxes div {
  padding: 0 10px;
}

.b-search-boxes input {
  height: 30px;
}

.b-search-boxes button {
  height: 30px;
  margin-top: 24px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
}

.first-button {
  margin-right: 10px;
  background-color: #3875d7;
  color: snow;
}

.next-button {
  background-color: #e6ab5b;
  color: snow;
}

.b-search-boxes p {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 15.6px;
  color: rgb(43, 43, 43);
  padding-bottom: 10px;
}

.b-search-result {
  display: flex;
  justify-content: center;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 15.6px;
  color: rgb(43, 43, 43);
  padding: 90px 0 50px 0;
}

.result-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.result-articles a {
  display: flex;
  justify-content: center;
}

.b-back-ground-img {
  height: 300px;
  background-image: url(/media/orange.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.b-back-ground-img a {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 15.6px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.contact-section {
  border: 3px solid #f5f5f5;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

.contact-button {
  display: flex;
  margin-left: auto;
  margin-top: 30px;
  background-color: #519bd7;
  color: whitesmoke;
  height: 30px;
  margin-right: 20px;
  padding: 5px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 15.6px;
}

.contact-button i {
  padding: 0 10px;
}

.contact-title {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 15.6px;
  color: #e18c83;
  padding: 20px 0 10px 10px;
}

.contact-title i {
  padding-right: 10px;
  margin-left: 2%;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.contact-mini-grid {
  border: 6px solid #f5f5f5;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 15.6px;
  cursor: pointer;
  color: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0 5%;
}

.contact-nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 60px 20px 60px;
}

.contact-nav i {
  padding-right: 10px;
  color: #b9d9f1;
}

.contact-nav p {
  border-right: 1px solid darkslategray;
  padding-right: 10px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 15.6px;
  color: rgb(43, 43, 43);
  cursor: pointer;
}

.contact-description {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 25.6px;
  color: rgb(43, 43, 43);
  margin: 15px 5%;
}

.click {
  background-color: #f5f5f5;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 15.6px;
  color: rgb(43, 43, 43);
  margin: 15px 5%;
  height: 150px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.click i {
  display: flex;
  align-self: center;
}

.click-text {
  display: flex;
  align-self: center;
    font-size: 30px;
    justify-content: center;
}

.contact-red {
  color: #e2928a;
  display: flex;
  justify-content: center;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 15.6px;
  padding: 20px 0;
}

.contact-red i {
  padding-right: 10px;
  position: relative;
  bottom: 5px;
}

.map {
  margin: 15px 5%;
}

.map img {
  width: 100%;
  height: 600px;
}

.four-simple {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 15.6px;
  color: #e48060;
}

.grid-units {
  margin-top: 80px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.grid-units i {
  margin-bottom: 20px;
}

.grid-units p {
  margin-bottom: 20px;
}

.grid-units-title {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 15.6px;
  color: rgb(43, 43, 43);
}

.grid-units-text {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  color: rgb(43, 43, 43);
}

.color-band {
  margin-top: 50px;
}

.band-top {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 25.6px;
  color: white;
  padding-bottom: 30px;
}

.band-bottom {
  padding-bottom: 40px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 15.6px;
  color: white;
}

.band-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10%;
}

.red-band button {
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  width: 20%;
}

.red-band button div {
  font-size: 20px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 15.6px;
  color: tomato;
}

.band-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.band-right img {
  border-radius: 50%;
  height: 350px;
  width: 80%;
}

.footer-nav p {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 15.6px;
  color: white;
}

.fill-in-section {
  margin: 80px 30%;
}

.fill-in-section p {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 15.6px;
  color: rgb(43, 43, 43);
  padding: 15px 0;
}

.fill-in-section input {
  width: 100%;
  background-color: #dfe2e3;
  height: 30px;
  cursor: text;
}

.fill-in-section button {
  background-color: #c25d50;
  color: whitesmoke;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  width: 20%;
  height: 25px;
}

.fill-button {
  display: flex;
  padding: 15px 0;
  cursor: pointer;
}

.fill-button p {
  padding-left: 20px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 15.6px;
  color: green;
  position: relative;
  bottom: 10px;
}

.fill-button p:hover {
  color: black;
}
