@media only screen and (max-width: 1024px) {
  .back-ground-search {
    margin: 100px 11% 100px 11%;
  }

  .b-search-boxes p {
    padding-top: 10px;
  }

  .b-search-boxes input {
    width: 100%;
  }

  .b-search-boxes button {
    width: 100%;
  }

  .b-search-boxes {
    display: grid;
    justify-content: center;
    padding-bottom: 100px;
  }

  .result-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 10%;
  }

  .click-text {
    font-size: 30px;
  }
}
